appdirs==1.4.4
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
importlib-metadata==1.6.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pbr==5.4.5
six==1.15.0
stevedore==2.0.1
virtualenv==20.0.25
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
zipp==3.1.0
